<!DOCTYPE html>
<html ng-app="roiCalculator">
     <head>
          <title>ROI Calculator</title>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1"/>
          <!-- JQuery -->
          <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
          <!-- Bootstrap - Latest compiled and minified CSS -->
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
          <!-- Latest compiled and minified JavaScript -->
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
          <!-- Angular Framework -->
          <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.js"></script>
          <!-- Main.css -->
          <link rel="stylesheet" href="main.css" type="text/css"/>
          <!-- Main.js -->
          <script type="text/javascript" src="main.js"></script>
     </head>
     <body ng-controller="calculatorController as cCtrl">
          <table class="table table-bordered">
               <tr>
                    <th></th>
                    <th><strong>One-Time</strong></th>
                    <th><strong>Monthly</strong></th>
                    <td></td>
                    <td></td>
               </tr>
               <tr ng-repeat="item in cCtrl.revenueItems">
                    <td>{{item.name}}</td>
                    <td>{{item.oneTimeRevenue | currency}}</td>
                    <td>{{item.monthlyRevenue | currency}}
                    <td><button ng-click="cCtrl.deleteRevenue($index)" type="submit">Delete</button></td>
                    <td></td>
               </tr>
               <tr>
                    <td><input type="text" value="Item Number" ng-model="cCtrl.newRevenue.name"></input></td>
                    <td><input type="number" ng-model="cCtrl.newRevenue.oneTimeRevenue"></input></td>
                    <td><input type="number" ng-model="cCtrl.newRevenue.monthlyRevenue"></input></td>
                    <td><button ng-click="cCtrl.addRevenue()" type="submit">Add Revenue Item</button></td>
                    <td></td>
               </tr>
               <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
               </tr>
               <tr ng-repeat="item in cCtrl.expenseItems">
                    <td>{{item.name}}</td>
                    <td>{{item.oneTimeExpense | currency}}</td>
                    <td>{{item.monthlyExpense | currency}}
                    <td><button ng-click="cCtrl.deleteExpense($index)" type="submit">Delete</button></td>
                    <td></td>
               </tr>
               <tr>
                    <td><input type="text" value="Expense Number" ng-model="cCtrl.newExpense.name"></input></td>
                    <td><input type="number" ng-model="cCtrl.newExpense.oneTimeExpense"></input></td>
                    <td><input type="number" ng-model="cCtrl.newExpense.monthlyExpense"></input></td>
                    <td><button ng-click="cCtrl.addExpense()" type="submit">Add Expense Item</button></td>
                    <td></td>
               </tr>
               <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
               </tr>
               <tr>
                    <th></th>
                    <th><strong>One-Time</strong></th>
                    <th><strong>Monthly</strong></th>
                    <th><strong>Total</strong></th>
                    <td></td>
               </tr>
               <tr>
                    <td><strong>Revenue</strong></td>
                    <td><strong>{{cCtrl.oneTimeRevenue | currency}}</strong></td>
                    <td><strong>{{cCtrl.monthlyRevenue | currency}}</strong></td>
                    <td><strong>{{cCtrl.totalRevenue | currency}}</strong></td>
                    <td></td>
               </tr>
               <tr>
                    <td><strong>Expenses</strong></td>
                    <td><strong>{{cCtrl.oneTimeExpense | currency}}</strong></td>
                    <td><strong>{{cCtrl.monthlyExpense| currency}}</strong></td>
                    <td><strong>{{cCtrl.totalExpenses | currency}}</strong></td>
                    <td></td>
               </tr>
               <tr>
                    <td></td>
                    <td><strong>Contribution Profit</strong></td>
                    <td><strong>{{cCtrl.monthlyContributionProfit | currency}}</strong></td>
                    <td><strong>{{cCtrl.totalContributionProfit | currency}}</strong></td>
                    <td></td>
               </tr>
               <tr>
                    <td></td>
                    <td><strong>Contribution Margin</strong></td>
                    <td></td>
                    <td><strong></strong></td>
                    <td></td>
               </tr>
               <tr>
                    <td></td>
                    <td><strong>Capital ROI (Months)</strong></td>
                    <td></td>
                    <td><strong></strong></td>
                    <td></td>
               </tr>
          </table>
     </body>
</html>
